@model WikyASPAuth.Models.COMMENTAIRE
<div class="panel panel-default">
    <div class="panel-heading">
        @Model.auteur
        <small>
            @Model.date
        </small>
    </div>
    <div class="panel-body">
        @Model.contenue
    </div>
</div>