@model WikyASPAuth.Models.ARTICLE
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wiky</h1>
    <p class="lead">Article le plus récent</p>
</div>

<div class="row">
    @if(Model != null)
    {
        @Html.Partial("_article", Model)
    }
</div>