@model List<WikyASPAuth.Models.ARTICLE>
@{
    ViewBag.Title = "DisplayListArticle";
}
<h2>DisplayListArticle</h2>
<div class="row">
    @foreach (var articles in Model)
    {
        <div class="col-lg-5">
            @Html.Partial("_articleMin", articles)
        </div>
        <div class="col-lg-1"></div>
    }
</div>